//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$default: #004389;
$primary: #43aae2;
$success: #00923f;
$info: #004389;